
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.conteiner{
    width: 80%;
    margin: 0 auto;
}
.lift{
    margin-top: 100px;
    display: flex;
    gap: 200px;
}
.lift-dom{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

.blocks{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    gap: 15px;
    background-color: grey;
    padding: 10px;
    position: relative;
}
.block{
    width: 90%;
height: 30px;
margin: 0 auto;
background: darkslategrey;
text-align: center;
}
.podval{
    width: 220px;
    height: 40px;
    background-color: darkslategrey;
}
.shapka{
    width: 220px;
    height: 40px;
    background-color: darkslategrey;
    border-radius: 10px;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 0;
}

.lift-nomer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 200px;
}
.btn:hover{
    transform: scale(1.4);
    transition: 0.5s;
}
